.stopWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;

  margin-top: -100px;   
  padding: 10px;
}

.timeDisplay {
  position:relative;
  top: -65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;   

  font-size: 4rem;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
filter: drop-shadow(6px 8px 8px rgba(0,0,0,0.5));


  color: white;
  padding:10px;
  text-shadow:
  -4px 0 #000,
  4px 0 #000,
  0 -4px #000,
  0  4px #000,
  -4px -4px #000,
  4px -4px #000,
  -4px  4px #000,
  4px  4px #000;
}

.time-char {
  display: inline-block;
  -webkit-font-smoothing: antialiased;

  width: .53em;  

  text-align: center;

  font-variant-numeric: tabular-nums; 
}

.title {
  position:relative;
  top: -50px;
  margin-right: 20px;
  width: 600px;   
  height: 300px;  
  pointer-events: none;
filter: drop-shadow(6px 8px 8px rgba(0,0,0,0.5));

}


.timeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;

  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  color: white;

text-shadow:
  -2px 0 #000,
   2px 0 #000,
   0 -2px #000,
   0  2px #000,
  -2px -2px #000,
   2px -2px #000,
  -2px  2px #000,
   2px  2px #000;
}

.home-page {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  overflow-y: hidden; 
  overflow-x: hidden; 

  height: 100%;   
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("/images/home_background.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.top-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 5px;
}
