.tree-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y:hidden;
}

.image-container {
  position: absolute;
  bottom: 110px;       
  left: 50%;
  transform: translateX(-50%);
}
.button-container {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.image {
  width: 400px;
  height: 400px;

  image-rendering: pixelated;
  pointer-events: none;
}
.streak-text{
  font-size:38px; 
  color: white;
    text-shadow:
    -4px 0 #000,
     4px 0 #000,
     0 -4px #000,
     0  4px #000,
    -4px -4px #000,
     4px -4px #000,
    -4px  4px #000,
     4px  4px #000;
     filter: drop-shadow(6px 8px 8px rgba(0,0,0,0.5));

}
.text-container{
  margin-top:550px;
    text-align: center;

}


.tree-container {
  position: relative;
  height: 100vh;         
  width: 100%;
}
.main-container {
  width: 400px;
  height: 600px;
  margin: 0 auto;



  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("/treePngs/tree_background.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
  